.todo {
  font-size: 18px;
  display: flex;
  background: #292929;
  color: white;
  width: 251px;
  gap: 4px;

  align-content: center;
  align-items: center;

  &__label {
    font-weight: bold;
    width: 171px;
    overflow: hidden;
    input[type="text"] {
      background: none;
      outline: none;
      border: none;
    }
  }
  &__delete {
    height: auto;
    outline: none;
    background: none;
    border: none;
  }
  input {
    text-decoration: line-through;
  }
  input[type="checkbox"]:checked + label > input {
    text-decoration: line-through;
  }
}
