.todos {
  background: #292929;
  border: 1px solid white;
  border-radius: 30px;
  min-height: 334px;
  min-width: 400px;
  width: fit-content;
  padding: 0 42px;
  font-family: "Roboto", sans-serif;
}
